/*======= GLOBAL STYLES ========/
/==============================*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-size: 1.750em;
	font-weight: 500;
	text-align: center;
	margin-top: 60px;
}

h4 {
	text-align: center;
	font-weight: 500;
	padding: 10px;
}

h5 {
	color: #bb4c26;
	font-weight: 600;
	font-size: 1.250em;
}

h6 {
	font-size: 1em;
	font-weight: 600;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: large;
}

p.lead {font-size: larger;}
p.medium {font-size: medium;margin-top: 20px;}
a {color: #c6761a;}
a:hover {color: #eda620;}

.full-width { width: 100%; max-width: 100%; }
.indent {display: none;}
hr{margin: 2em;}

/*======= HEADER STYLES ========/
/==============================*/

.feed {min-height: 80px;}

a.twitter img {
	margin-top: 26px;
	padding-right: 45px;
	float: left;
}

a.twitter img:hover {
	opacity: .7;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

h6.status {
	margin-top: 26px;
}

.jumbotron {
	background:
		url('../img/header-border.png') repeat-x,
		url('../img/bg.png') repeat-x;
	background-repeat: repeat-x;
	border-top: 1px solid #000;
}

.logo {
	display: block;
	margin: 0 auto;
	padding-top:30px;
	padding-bottom: 50px;
	width: 50%;
}

/*======= CONTENT STYLES ========/
/==============================*/

.callout {padding-top: 20px;}
.button.signup {
	background-color: #d9a233;
	border-radius: 3px;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1em;
	text-transform: uppercase;
}
.button.signup:hover{
	background-color: #eda620;
}
.large {width:100%;}

.crosstrain {
	background-image: url('../img/speaker-icon.png');
	background-repeat: no-repeat;
	padding-left: 65px;
}

.powerpacked {
	background-image: url('../img/bomb-icon.png');
	background-repeat: no-repeat;
	padding-left: 35px;
}

.experience {
	background-image: url('../img/hearts-icon.png');
	background-repeat: no-repeat;
	padding-left: 45px;
}

.workshop {
	background-image: url('../img/tools-icon.png');
	background-repeat: no-repeat;
	padding-left: 45px;
}

.food {
	background-image: url('../img/food-icon.png');
	background-repeat: no-repeat;
	padding-left: 45px;
}

.location {
	background-image: url('../img/leaf-icon.png');
	background-repeat: no-repeat;
	padding-left: 45px;
}

.infoblock {
	padding-bottom: 2em;
}

.alt {
	background-color: #be5531 !important;
}

.alt:hover {
	background-color: #712513 !important;
}

div.signup {
	background-image: url('../img/bg.png');
	background-position: center;
	background-repeat: repeat-x;
	background-color: #e8e8e7;
	border-color: #eaeaea;
	min-height: 330px;
	border-top: 1px solid #a7a5a6;;
	border-bottom: 1px solid #a7a5a6;
}

.info {
	margin-top: 90px;
}

/*======== FORM STYLES =========/
/==============================*/

input[type="text"] {
	border-radius: 3px;
	padding: 1.5rem;
	border-color: #666666;
	font-size: large;
	color: #8a8a8a;
}

/*======= EVENT DETAILS ========/
/==============================*/

.date:hover {
	opacity: .9;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

/*======= FOOTER STYLES ========/
/==============================*/

div.footer {
	background-image: url('../img/footer-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	min-height: 330px;
}

.subfooter {
	background-color: #000;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-size: 1em;
	color: #fff;
	text-align: center;
}

.subfooter p {
	margin-bottom: 0;
	padding: 5px;
}

.subfooter a {
	color: #e37c0d;
	text-decoration: underline;
}

.subfooter a:hover {
	color: #bb4c26;
}

div.address {
	margin-top: 70px;
	text-align: center;
}

div.address p {
	background-color: #eaeaea;
	padding: 1.5em 0 2em 0;
}

div.address p span {
	color: #bb4c26;
	font-weight: 500;
	text-transform: uppercase;
}

div.address p span:hover {
	color: #e37c0d;
}

.pinpoint {
	margin-top: -2.5em;
}

/*======= MEDIA QUERIES ========/
/==============================*/

@media only screen and (max-width: 40em) {
	.logo {
		width: 100%;
	}

	h3 {
		font-size: 1.2em;
	}

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.logo {
		width: 70%;
	}
}












