<div class="full-width feed">
  <div class="row">
    <div class="small-12 columns">
      <a href="http://twitter.com/levelupcon" target="_blank" class="twitter">
        <img src="/img/twitter-icon.png" alt="Twitter Icon">
      </a>
      <h6 class="status">Follow <a href="http://twitter.com/levelupcon">@levelupcon</a> on Twitter.</h6>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h3>Learn cutting edge tips and tricks to bring home and show off.</h3>
        <h1 class="indent">Level Up</h1>

        <!-- Responsive retina image media queries -->

        <img src="/img/logo-lg.png" alt="LevelUp Logo" data-interchange="[/img/logo-lg.png, (default)], [/img/logo-lg@2x.png, (retina)]" class="logo" >
        <noscript><img src="/img/logo-lg.png" alt="LevelUp Logo"></noscript>
        <h4 class="indent">Creative Tech Conference 2014</h4>
        <h5 class="indent">In Association with <a href="http://www.madglory.com">MadGlory</a></h5>

        <div class="row">
          <div class="large-3 columns details">October 8 &amp; 9, 2014</div>
          <div class="large-3 large-push-6 columns details">Saratoga Springs, NY</div>
          <div class="large-4 large-pull-4 columns">
            <a href="#" data-reveal-id="firstModal" class="large button signup">Keep Me Updated</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>