<a name="home"></a>

<div class="jumbotron">
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h3>Learn cutting edge tips and tricks to bring home and show off.</h3>
        <h1 class="indent">Level Up</h1>

        <!-- Responsive retina image media queries -->

        <img src="/img/logo-lg.png" alt="LevelUp Logo" data-interchange="[/img/logo-lg.png, (default)], [/img/logo-lg@2x.png, (retina)]" class="logo" >
        <noscript><img src="/img/logo-lg.png" alt="LevelUp Logo"></noscript>
        <h4 class="indent">Creative Tech Conference 2014</h4>
        <h5 class="indent">In Association with <a href="http://www.madglory.com">MadGlory</a></h5>

        <div class="row">
          <div class="large-3 columns details">October 8 &amp; 9, 2014</div>
          <div class="large-3 large-push-6 columns details">Saratoga Springs, NY</div>
          <div class="large-4 large-pull-4 columns">
            <a href="https://nvite.com/levelupcon/b87/tickets" class="large button signup">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
