<div class="row collapse wide" id="nav" data-magellan-expedition="fixed">
  <div class="large-2 columns hide-for-small-only">
    <img src="http://placehold.it/125x50">
  </div>
  <div class="large-8 columns hide-for-small-only">
    <dl class="sub-nav">
      <dd data-magellan-arrival="build">
        <a href="#speakers">Speakers</a>
      </dd>
      <dd data-magellan-arrival="js">
        <a href="#venue">Venue</a>
      </dd>
<!--       <dd data-magellan-arrival="js">
        <a href="#schedule">Schedule</a>
      </dd> -->
      <dd data-magellan-arrival="js">
        <a href="#sponsors">Sponsors</a>
      </dd>
      <dd data-magellan-arrival="js">
        <a href="#about">About</a>
      </dd>
    </dl>
  </div>
  <div class="large-2 columns">
    <a href="#" class="button large register">Register Now</a>
  </div>
</div>


