<div class="nav-container">
  <div class="row collapse wide" id="nav" data-magellan-expedition="fixed">
    <div class="small-2 columns hide-for-small-only">
      <a href="#home"><img src="/img/levelup-sm.png" alt="LevelUp" class="sm-logo"></a>
    </div>
    <div class="small-8 columns hide-for-small-only">
    </div>
    <div class="small-2 columns" id="navigation-register">
      <a href="http://twitter.com/levelupcon" class="button large register noscroll">@levelupcon</a>
    </div>
  </div>
</div>


